html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"] {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input.button-primary[type="submit"]:hover,
input.button-primary[type="reset"]:hover,
input.button-primary[type="button"]:hover,
.button.button-primary:focus,
button.button-primary:focus,
input.button-primary[type="submit"]:focus,
input.button-primary[type="reset"]:focus,
input.button-primary[type="button"]:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(200%, -40vh, 0);
  }
}
@-moz-keyframes animateRight {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }
  100% {
    -moz-transform: translate3d(200%, -40vh, 0);
  }
}
@keyframes animateRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(200%, -40vh, 0);
    -moz-transform: translate3d(200%, -40vh, 0);
    -o-transform: translate3d(200%, -40vh, 0);
    transform: translate3d(200%, -40vh, 0);
  }
}
body,
html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  z-index: 1000;
}
nav ul {
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}
nav ul li {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
nav ul li a {
  display: inline-block;
  padding: 0.5rem 0;
  margin: 1rem 1.5rem 1rem;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
nav ul li a:hover {
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
nav ul li:not(:first-child) {
  margin-top: 0.4em;
}
nav ul li:first-child {
  float: left;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}
nav ul li:first-child a {
  margin: 1rem 1.5rem 1rem 0;
  color: #ffffff;
}
nav ul li:first-child a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: none;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li:last-child a {
  background-color: #ffffff;
  margin-right: 0;
  padding: 0.5rem 1rem;
  color: #167475;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}
nav ul li:last-child a:hover {
  border-color: #ffffff;
}
#testimonials,
#explanation,
footer {
  position: relative;
  padding: 8rem 0 18rem;
}
#testimonials h2,
#explanation h2,
footer h2 {
  margin-bottom: 2em;
}
#testimonials .bg-angled,
#explanation .bg-angled,
footer .bg-angled {
  position: absolute;
  top: -60px;
  left: -50%;
  width: 200%;
  height: 200px;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  z-index: 0;
}
#testimonials .bg-angled.bg-angled-opposite,
#explanation .bg-angled.bg-angled-opposite,
footer .bg-angled.bg-angled-opposite {
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
}
#join {
  padding-bottom: 5rem;
}
#testimonials {
  padding-bottom: 30vw;
}
#explanation {
  padding-bottom: 40vw;
}
#tagline ul,
#join ul {
  margin-bottom: 0;
}
#tagline ul li,
#join ul li {
  display: inline-block;
  list-style: none;
}
#tagline ul li:first-child,
#join ul li:first-child {
  padding-right: 1rem;
}
#tagline {
  position: relative;
  height: auto;
  height: 100vh;
  background-image: url(../images/header.jpeg);
  background-size: cover;
  background-position: 50% 50%;
}
#tagline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
#tagline h1 {
  color: #ffffff;
}
#tagline .button {
  background-color: #ffffff;
  color: #167475;
  border-color: #ffffff;
}
#tagline .button:focus {
  transition: border-color 0.2s, background 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
#tagline .columns {
  margin-left: 0;
}
#tagline .columns:first-child {
  margin-left: 0;
}
#tagline .columns.six {
  width: 100%;
}
#tagline .container,
#tagline .tagline-wrapper {
  height: 100%;
}
#tagline .tagline-wrapper {
  margin-top: -20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
#tagline .tagline-wrapper h1 {
  margin-bottom: 0.5em;
}
#tagline .cloud {
  pointer-events: none;
  position: absolute;
  left: -100%;
  width: 100%;
  z-index: 10;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-animation-name: animateRight;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 40s;
  -moz-animation-name: animateRight;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 40s;
  -o-animation-name: animateRight;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -o-animation-duration: 40s;
  animation-name: animateRight;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 40s;
}
#tagline .cloud.cloud-1 {
  top: 8vh;
  height: 10vh;
  background-image: url(../images/cloud.png);
  -webkit-animation-delay: -35s;
  -moz-animation-delay: -35s;
  -o-animation-delay: -35s;
  animation-delay: -35s;
}
#tagline .cloud.cloud-2 {
  top: 14vh;
  height: 12vh;
  background-image: url(../images/cloud-75-02.png);
}
#tagline .cloud.cloud-3 {
  top: 18vh;
  height: 10vh;
  background-image: url(../images/cloud-50-03.png);
  -webkit-animation-delay: -36s;
  -moz-animation-delay: -36s;
  -o-animation-delay: -36s;
  animation-delay: -36s;
}
#tagline .cloud.cloud-4 {
  top: 35vh;
  height: 10vh;
  background-image: url(../images/cloud-25-04.png);
  -webkit-animation-delay: -8s;
  -moz-animation-delay: -8s;
  -o-animation-delay: -8s;
  animation-delay: -8s;
}
#tagline .cloud.cloud-5 {
  top: 40vh;
  height: 12vh;
  background-image: url(../images/cloud-50-05.png);
  -webkit-animation-delay: -10s;
  -moz-animation-delay: -10s;
  -o-animation-delay: -10s;
  animation-delay: -10s;
}
#tagline .cloud.cloud-6 {
  top: 60vh;
  height: 8vh;
  background-image: url(../images/cloud-25-06.png);
  -webkit-animation-delay: -22s;
  -moz-animation-delay: -22s;
  -o-animation-delay: -22s;
  animation-delay: -22s;
}
#tagline .cloud.cloud-7 {
  top: 65vh;
  height: 10vh;
  background-image: url(../images/cloud-50-01.png);
  -webkit-animation-delay: -24s;
  -moz-animation-delay: -24s;
  -o-animation-delay: -24s;
  animation-delay: -24s;
}
#tagline .cloud.cloud-8 {
  top: 70vh;
  height: 11vh;
  background-image: url(../images/cloud-75-02.png);
  -webkit-animation-delay: -22s;
  -moz-animation-delay: -22s;
  -o-animation-delay: -22s;
  animation-delay: -22s;
}
#testimonials {
  background-color: #00aaff;
  background-image: url(../images/testimonials-footer.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#testimonials h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
#testimonials ul {
  display: block;
  margin: 0;
  padding: 0;
}
#testimonials li {
  position: relative;
  display: block;
  margin: 0 0 10rem;
  padding: 0;
}
#testimonials li:last-child {
  margin-bottom: 10rem;
}
#testimonials .bg-angled {
  background-color: #00aaff;
}
#testimonials .testimonial-section {
  position: relative;
}
#testimonials .testimonial-section:nth-child(n + 5) {
  display: none;
}
#testimonials .testimonial-avatar-wrapper {
  position: relative;
  display: block;
  margin-bottom: 25px;
  height: auto;
  text-align: center;
}
#testimonials .testimonial-avatar {
  width: 12rem;
  border-radius: 50%;
}
#testimonials .testimonial-text {
  position: relative;
  padding: 2rem;
  color: #ffffff;
  background-color: #0099e6;
  box-sizing: border-box;
  border-radius: 5px;
}
#testimonials .testimonial-text:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 153, 230, 0);
  border-bottom-color: #0099e6;
  border-width: 25px;
  margin-left: -25px;
}
#testimonials .testimonial-text p {
  margin-bottom: 0;
}
#testimonials .testimonial-author {
  margin-top: 0.75rem;
  color: #005885;
}
#testimonials .testimonial-author-name {
  font-weight: bold;
}
#explanation {
  background-image: url(../images/call-to-action-footer.png),
    url(../images/method-bg.png),
    url(../images/call-to-action-footer-sunray.png);
  background-position: center bottom, 0 10vh, center bottom;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: contain, 80%, contain;
}
#explanation h2 {
  color: #5e5e5e;
  text-align: center;
  font-weight: 400;
}
#explanation #explanation-list ul {
  display: block;
}
#explanation #explanation-list ul li {
  display: inline-block;
  padding: 0;
  margin: 0 0 160px;
  width: 100%;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}
#explanation #explanation-list ul li:nth-child(6) {
  margin-bottom: 0;
}
#explanation #explanation-list ul li [class^="explanation-item-"]:before {
  content: " ";
  margin-bottom: 20px;
  display: block;
  height: 200px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#explanation #explanation-list ul li h3 {
  text-align: center;
  font-weight: 400;
}
#explanation #explanation-list ul li .explanation-item-mnemonics:before {
  background-image: url(../images/method-mnemonics.png);
}
#explanation #explanation-list ul li .explanation-item-radicals:before {
  background-image: url(../images/method-radicals.png);
}
#explanation #explanation-list ul li .explanation-item-kanji:before {
  background-image: url(../images/method-kanji.png);
}
#explanation #explanation-list ul li .explanation-item-vocabulary:before {
  background-image: url(../images/method-vocabulary.png);
}
#explanation #explanation-list ul li .explanation-item-lessons-reviews:before {
  background-image: url(../images/method-lessons-and-reviews.png);
}
#explanation #explanation-list ul li .explanation-item-srs:before {
  background-image: url(../images/method-srs.png);
}
#explanation .bg-angled {
  background-color: #ffffff;
}
#join {
  padding-bottom: 0;
  background-color: #2ea36e;
  background-image: url(../images/call-to-action-bg.png);
  background-size: 75%;
  color: #ffffff;
  text-align: center;
}
#join h2 {
  margin-bottom: 60px;
  font-weight: 400;
}
#join .button {
  background-color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 2.5rem;
  color: #2ea36e;
  height: 57px;
  padding: 0 40px;
  font-size: 16.5px;
  line-height: 57px;
  letter-spacing: 0.18rem;
  border-radius: 5px;
}
#join .button:focus {
  transition: border-color 0.2s, background 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
#join .call-to-action {
  padding-bottom: 0;
}
#join .sign-in {
  color: rgba(255, 255, 255, 0.75);
}
#join .sign-in a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}
#join .sign-in a:hover {
  color: #ffffff;
}
#join .social-media ul {
  display: block;
  margin: 60px 0;
  padding: 0;
}
#join .social-media ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#join .social-media ul li:last-child {
  margin-top: 4px;
  margin-left: 10px;
}
footer {
  padding: 1rem 0;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
footer a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}
footer a:hover {
  color: #ffffff;
}
.hidden-mobile {
  display: none;
}
@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  nav {
    font-size: 12px;
  }
  nav ul li a {
    margin: 1rem 0.5rem 1rem;
  }
  nav ul li:first-child a {
    margin-top: 0.75rem;
  }
  nav ul li:first-child img {
    max-width: 125px;
    height: auto;
  }
}
@media (min-width: 551px) and (max-width: 768px) {
  nav ul li a {
    margin-top: 1.6rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media (min-width: 750px) {
  .hidden-mobile {
    display: inline-block;
  }
  #explanation {
    padding-bottom: 25vw;
  }
  #explanation #explanation-list ul li {
    width: 50%;
  }
  #explanation #explanation-list ul li:nth-child(even) {
    padding-left: 40px;
  }
  #explanation #explanation-list ul li:nth-child(odd) {
    padding-right: 40px;
  }
  #explanation #explanation-list ul li:nth-child(5):nth-child(6) {
    margin-bottom: 0;
  }
  #testimonials .testimonial-avatar-wrapper {
    position: absolute;
    margin-bottom: 0;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }
  #testimonials .testimonial-text {
    margin-left: 15.5rem;
  }
  #testimonials .testimonial-text:after {
    bottom: auto;
    left: auto;
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 153, 230, 0);
    border-right-color: #0099e6;
    border-width: 25px;
    margin-left: 0;
    margin-top: -25px;
  }
}
@media (min-width: 1000px) {
  #tagline .columns {
    margin-left: 4%;
  }
  #tagline .columns:first-child {
    margin-left: 0;
  }
  #tagline .columns.six {
    width: 48%;
  }
}
